.table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 15px;
}

.header {
	font-weight: bold;
	padding: 4px;
}

.row {
	border: 1px solid black;
}

.cell {
	padding: 4px;
	border: 1px solid black;
}

.referenced {
	width: 100%;
}

.descriptionArea {
	margin: 20px 0;
}

.pdfArea {
	p {
		margin: 0;
	}
}

// acck
.acknowladgementArea {
	.ackMain {
		.singleAck {
			display: grid;
			grid-template-columns: 1.5fr 3fr 3fr 1fr;
			grid-gap: 10px;
			align-items: center;
		}
	}
}

.underline {
	width: "100%";
	border-bottom: 1px solid black;
	margin-top: 10px;
}
.spacedText {
	height: 15px;
}

.customInput {
	width: 100%;
	margin-bottom: 2px !important;
	:global {
		.MuiInputBase-input {
			padding: 2px;
		}
	}
}
.inlineLabelInput {
	display: flex;
	align-items: center;
	margin-bottom: 2px !important;
	label {
		margin-right: 10px;
		min-width: 64px;
	}
}
